@{
    ViewData["Title"] = "Home Page";
}
@model SmartHome_Mika.Models.HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welkom Thuis</h1>
    <p>Bekijk hier je apparaten: </p>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="text" name="zoekterm" placeholder="Zoek apparaat..." />
        <button type="submit">Zoek</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.Zoekterm))
    {
        <hr />
        <h4>Zoekresultaten voor: "@Model.Zoekterm"</h4>

        @if (Model.ZoekResultaten != null && Model.ZoekResultaten.Any())
        {
            <div class="row justify-content-center">
                @foreach (var device in Model.ZoekResultaten)
                {
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-body text-center">
                            <h5 class="card-title">@device.Name</h5>
                            <p>Status: @(device.IsOn ? "Aan" : "Uit")</p>
                            <p>Ruimte: @device.Room</p>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-danger">Geen apparaten gevonden.</p>
        }
    }
</div>
<div>
    <h2 class="display-6">Mika's kamer</h2>
    <p>Bureaulamp - Status: <strong>@(Model.Lamp.IsOn ? "Aan" : "Uit")</strong> </p>
    <img src="https://lw-cdn.com/images/DD98CE342064/k_1a61589a1c31f79a793cde60d6bae171;w_1600;h_1600;q_100/9643035.jpg" width="300"/>
</div>
<div>
    <form asp-controller="SmartDevice" asp-action="ChangeIsOn" method="post">
        <input type="hidden" name="id" value="1" />
        <input type="hidden" name="deviceType" value="SmartLamp" />
        <button style="margin-top: 10px;" type="submit">
            Aan-/uitzetten
        </button>
    </form>
</div>
<div>
    <p style="margin-top: 20px;">Koelkast - Status: <strong>@(Model.Fridge.IsOn ? "Aan" : "Uit")</strong> </p>
    <img src="https://cdn.webshopapp.com/shops/65625/files/434814765/combisteel-mini-koelkast-glazen-deur-80l-h84xb474d.jpg;w_1600;h_1600;q_100/9643035.jpg" width="300" />
</div>
<div>
    <form asp-controller="SmartDevice" asp-action="ChangeIsOn" method="post">
        <input type="hidden" name="id" value="1" />
        <input type="hidden" name="deviceType" value="SmartFridge" />
        <button style="margin-top: 10px;" type="submit">
            Aan-/uitzetten
        </button>
    </form>
</div>

